.header {
    background-image: url('my-image.JPG'); 
    background-size: contain;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
  }
  
  .header-content h1 {
    font-size: 8rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  